* {
    margin: 0;
    padding: 0;
}

body {
    background: rgb(4, 117, 117);
}

#input {
    width: 15rem;
    height: 2rem;
    font-size: 2rem;
}

#button {
    width: 10rem;
    height: 2rem;
    font-size: 1rem;
}

.tarefas {
    background: white;
    font-size: 2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.apagar {
    width: 5rem;
    height: 2rem;
}